<!DOCTYPE html>
<html lang="es">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="BP" />
    <meta name="description" content="B&P. Asesoramiento impositivo contable.">
    <title>B&P. Asesoramiento impositivo contable.</title>
    <link href="css/plugins.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
</head>

<body>

    <div class="body-inner">

        <header id="header" data-transparent="true" data-fullwidth="true" class="dark">
            <div class="header-inner">
                <div class="container">
                    <div id="logo"><a href="#header" class="logo scroll-to"><h2 class="m-t-5">B&P.</h2></a></div>
                    <div id="mainMenu-trigger">
                        <button class="lines-button x"><span class="lines"></span></button>
                    </div>
                    <div id="mainMenu" class="light">
                        <div class="container">
                            <nav>
                                <ul>
                                    <li><a class="scroll-to" href="#about-us">Estudio</a></li>
                                    <li><a class="scroll-to" href="#our-services">Servicios</a></li>
                                    <li><a class="scroll-to" href="#contact-us">Contacto</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section class="fullscreen background-overlay" data-parallax-image="images/slider/home/home.jpg"
            style="height: 282px; padding: 60px 15px 120px;">
            <div class="container">
                <div class="container-fullscreen">
                    <div class="text-middle">
                        <div class="text-light" style="">
                            <h2 class="text-uppercase m-b-0">Bernardis & Puntar.</h2>
                            <h1 class="text-uppercase text-lg">Buscas <br/>asesoramiento <br/>impositivo <br/>contable</h1>
                            <a class="btn btn-red btn-creative btn-icon-holder scroll-to" href="#about-us">conoce m&aacute;s<i class="fa fa-arrow-down"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="about-us">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="heading-text heading-section">
                            <h1 class="text-medium"><small>sobre</small><br/> NOSOTRAS</h1>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <p>Somos Contadoras P&uacute;blicas Graduadas de la Universidad Nacional De La Matanza.</p>
                        <p>Brindamos&nbsp;asesoramiento integral impositivo, laboral y contable, tanto para personas humanas y jurídicas. Tambi&eacute;n nos encargamos de lograr un seguimiento personalizado de la situación impositiva de nuestros clientes, manteniendo una comunicación fluida.</p>
                    </div>
                    <div class="col-lg-4">
                        <p>Ayudamos al cumplimiento de las obligaciones con  organismos, evitando el pago de multas por incumplimientos y aprovechando las facilidades vigentes para cada tipo de actividad o forma jurídica.</p>
                        <p>Como Contadoras Públicas, nos enfocamos en brindar atención personalizada a nuestros clientes para el cumplimiento de sus obligaciones contables e impositivas.</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="our-services" class="text-light p-b-10" style="background-color: #333">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="heading-text heading-section p-b-40">
                            <h1 class="text-medium"><small>acerca <br/>de nuestros</small><br/>SERVICIOS</h1>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="icon-box effect large light">
                                    <div class="icon"><i class="fa fa-money-check-alt" style="color: #333 !important;"></i></div>
                                    <h3 class="text-uppercase">Impuestos</h3>
                                    <p>Breve descripción de impuestos...<br><br><a class="btn btn-xs btn-red" data-target="#modal-impuestos" data-toggle="modal" href="#">ver m&aacute;s</i></a></p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="icon-box effect large light">
                                    <div class="icon"><i class="fa fa-user-tie" style="color: #333 !important;"></i></div>
                                    <h3 class="text-uppercase">Laboral</h3>
                                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.<br><br><a class="btn btn-xs btn-red" data-target="#modal-laboral" data-toggle="modal" href="#">ver m&aacute;s</i></a></p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="icon-box effect large light">
                                    <div class="icon"><i class="fa fa-calculator" style="color: #333 !important;"></i></div>
                                    <h3 class="text-uppercase">Contabilidad</h3>
                                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.<br><br><a class="btn btn-xs btn-red" data-target="#modal-contabilidad" data-toggle="modal" href="#">ver m&aacute;s</i></a></p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="icon-box effect large light">
                                    <div class="icon"><i class="fa fa-diagnoses" style="color: #333 !important;"></i></div>
                                    <h3 class="text-uppercase">Consultor&iacute;a</h3>
                                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.<br><br><a class="btn btn-xs btn-red" data-target="#modal-consultoria" data-toggle="modal" href="#">ver m&aacute;s</i></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="contact-us">
            <div class="container">
                <div class="row team-members team-members-shadow">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2 class="m-b-10 text-uppercase"><small class="text-lowercase">Mantente en</small> contacto</h2>
                            </div>
                            <div class="col-lg-12">
                                <p class="lead"><i class="far fa-clock"></i> Horarios de atención</p>
                                <p><strong>Lunes a Viernes</strong> de 9:00 - 18:00 y <strong>S&aacute;bados</strong> de 9:00 - 14:00</p>
                            </div>
                            <div class="col-lg-12 m-t-10">
                                <p class="lead"><i class="fa fa-map-marker-alt"></i> Puedes encontrarnos</p>
                            </div>
                            <div class="col-lg-6">
                                <p><strong>La Matanza:</strong></p>
                                <ul class="list-unstyled">
                                    <li>Ramos Mejía</li>
                                    <li>San Justo</li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <p><strong>Partido de la Costa:</strong></p>
                                <ul class="list-unstyled">
                                    <li>Mar del Plata</li>
                                </ul>
                            </div>
                            <div class="col-lg-12 m-t-10">
                                <p class="lead"><i class="fa fa-phone"></i> Formas de contacto</p>
                                <p><strong>Phone:</strong> (+54) 9 11 0000 0000<br><strong>Email:</strong> <a href="bpcontadoras@gmail.com">bpcontadoras@gmail.com</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team-member">
                            <div class="team-image background-grey">
                                <img src="images/team/juana-bernardis.jpg">
                            </div>
                            <div class="team-desc">
                                <h3>Juana BERNARDIS</h3>
                                <span>Contadora P&uacute;blica</span>
                                <p></p>
                                <div class="align-center">
                                    <a class="btn btn-xs btn-slide btn-light" href="#" data-width="90">
                                        <i class="fa fa-phone"></i>
                                        <span>M&oacute;vil</span>
                                    </a>
                                    <a class="btn btn-xs btn-slide btn-light" href="#" data-width="110">
                                        <i class="fab fa-whatsapp"></i>
                                        <span>Whatsapp</span>
                                    </a>
                                    <a class="btn btn-xs btn-slide btn-light" href="mailto:#" data-width="80">
                                        <i class="far fa-envelope"></i>
                                        <span>Mail</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team-member">
                            <div class="team-image background-grey">
                                <img src="images/team/micaela-puntar.jpg">
                            </div>
                            <div class="team-desc">
                                <h3>Micaela PUNTAR</h3>
                                <span>Contadora P&uacute;blica</span>
                                <p></p>
                                <div class="align-center">
                                    <a class="btn btn-xs btn-slide btn-light" href="#" data-width="90">
                                        <i class="fa fa-phone"></i>
                                        <span>M&oacute;vil</span>
                                    </a>
                                    <a class="btn btn-xs btn-slide btn-light" href="#" data-width="110">
                                        <i class="fab fa-whatsapp"></i>
                                        <span>Whatsapp</span>
                                    </a>
                                    <a class="btn btn-xs btn-slide btn-light" href="mailto:#" data-width="80">
                                        <i class="far fa-envelope"></i>
                                        <span>Mail</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer id="footer" class="inverted">
            <!--div class="footer-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="icon-box effect small clean">
                                <div class="icon">
                                    <a href="#"><i class="far fa-clock"></i></a>
                                </div>
                                <h3>Atenci&oacute;n<br/><small>estamos disponibles</small></h3>
                                <p><strong>Lunes a Viernes</strong><br>9:00 - 18:00</p>
                                <p><strong>S&aacute;bados</strong><br>9:00 - 14:00</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="icon-box effect small clean">
                                <div class="icon">
                                    <a href="#"><i class="fa fa-map-marker-alt"></i></a>
                                </div>
                                <h3>Ubicaci&oacute;n<br/><small>puedes encontrarnos</small></h3>
                                <p><strong>La Matanza</strong><br> Ramos Mej&iacute;a, San Justo</p>
                                <p><strong>Partido de la Costa</strong><br>Mar del Plata</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="icon-box effect small clean">
                                <div class="icon">
                                    <a href="#"><i class="fa fa-phone"></i></a>
                                </div>
                                <h3>Contacto<br/><small>llamanos o mensajeanos</small></h3>
                                <p><strong>M&oacute;vil / Whatsapp:</strong><br> <a href="#">+54 (9 11) 0000-0000</a></p>
                                <p><strong>Email:</strong><br> <a href="#">xxx@gmail.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div-->
            <div class="copyright-content">
                <div class="container">
                    <div class="copyright-text text-center">&copy; 2019 B&P. - Todos los derechos reservados.</div>
                </div>
            </div>
        </footer>

    </div>

    <div class="modal fade" id="modal-impuestos" tabindex="-1" role="dialog" aria-labelledby="modal-label-impuestos" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header p-t-10 p-b-10">
            <h5 class="modal-title text-uppercase m-b-0" id="modal-impuestos-title"><i class="fa fa-money-check-alt"></i> Impuestos</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <ul class="list-icon list-icon-arrow list-icon-colored">
                <li>Liquidación y presentación de impuestos.</li>
                <li>Planificación impositiva y análisis del mejor encuadre para su actividad.</li>
                <li>Seguimiento de las retenciones/ percepciones sufridas.</li>
                <li><b>Asesoramos y realizamos las presentaciones correspondientes a:</b>
                    <ul>
                        <li>Régimen General: IVA,&nbsp;Ganancias, Autónomos</li>
                        <li><b>Monotributo:</b>
                            <ul class="list-icon list-icon-caret list-icon-colored">
                                <li>Alta, baja y seguimiento.</li>
                                <li>Brindamos&nbsp;asesoramiento integral a monotributistas.&nbsp;Realizamos un seguimiento personalizado de la situación de nuestros clientes, manteniendo actualizado el monto de facturación a fin de adelantarse a recategorizaciones o exclusiones.</li>
                                <li>Ofrecemos la posibilidad de realizar las&nbsp;facturas electrónicas&nbsp;a través de webservices.</li>
                                <li>Ayudamos al cumplimiento de tus obligaciones con AFIP y otros organismos, evitando el pago de multas por incumplimientos y aprovechando las facilidades vigentes para cada tipo de actividad o forma jurídica.</li>
                                <li>Alta de monotributo</li>
                                <li>Recategorización</li>
                                <li>Seguimiento online de tu facturación</li>
                                <li>Convenio Multilateral</li>
                                <li>Ingresos Brutos</li>
                            </ul>
                        </li>
                        <li><b>Bienes Personales</b>
                            <ul class="list-icon list-icon-caret list-icon-colored">
                                <li>Liquidación y presentación del&nbsp;Impuesto sobre los Bienes Personales.</li>
                                <li>Trabajo en forma personalizada con el cliente.</li>
                            </ul>
                        </li>
                        <li><b>Ganancias</b>
                            <ul class="list-icon list-icon-caret list-icon-colored">
                                <li>Liquidación y presentación del&nbsp;Impuesto a la Ganancias, tanto para personas humanas y jurídicas.</li>
                                <li>Trabajo en forma personalizada con el cliente.</li>
                            </ul>
                        </li>
                        <li>Ingresos Brutos y convenio Multilateral</li>
                        <li>Regímenes de retención y de información</li>
                        <li>TASA DE SEGURIDAD E HIGIENE</li>
                        <li>PERSONAL DE CASAS PARTICULARES</li>
                    </ul>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modal-laboral" tabindex="-1" role="dialog" aria-labelledby="modal-label-laboral" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header p-t-10 p-b-10">
            <h5 class="modal-title text-uppercase m-b-0" id="modal-laboral-title"><i class="fa fa-user-tie"></i> Laboral</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <ul class="list-icon list-icon-arrow list-icon-colored">
                <li>Liquidación de sueldos y jornales. Presentación de aplicativos de AFIP y Libro Sueldos.</li>
                <li>Asesoramiento laboral y previsional.</li>
                <li>Seguimiento de las retenciones/ percepciones sufridas.</li>
                <li>Asesoramos y realizamos las presentaciones correspondientes a:
                    <ul class="list-icon list-icon-caret list-icon-colored">
                        <li>Alta Temprana (Simplificación Registral)</li>
                        <li>Declaración en Línea</li>
                        <li>Libro Sueldo</li>
                        <li>Cálculo de indemnizaciones por despido</li>
                        <li>Cálculo de costo laboral, incluyendo cargas sociales, ART, etc.</li>
                    </ul>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modal-contabilidad" tabindex="-1" role="dialog" aria-labelledby="modal-label-contabilidad" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header p-t-10 p-b-10">
            <h5 class="modal-title text-uppercase m-b-0" id="modal-contabilidad-title"><i class="fa fa-calculator"></i> Contabilidad</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <ul class="list-icon list-icon-arrow list-icon-colored">
                <li>Confección y presentación de estados contables.</li>
                <li>Seguimiento de la información que brindan los registros contables, permitiendo que nuestros clientes tomen mejores decisiones</li>
                <li>Asesoramos y realizamos las presentaciones correspondientes a:
                    <ul class="list-icon list-icon-caret list-icon-colored">
                        <li>Balances</li>
                        <li>Certificación de ingresos</li>
                        <li>Análisis de indicadores contables</li>
                        <li>Cash Flow</li>
                    </ul>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modal-consultoria" tabindex="-1" role="dialog" aria-labelledby="modal-label-consultoria" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header p-t-10 p-b-10">
            <h5 class="modal-title text-uppercase m-b-0" id="modal-consultoria-title"><i class="fa fa-diagnoses"></i> Consultor&iacute;a</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <ul class="list-icon list-icon-arrow list-icon-colored">
                <li>Generamos informes que permiten mejorar la toma de decisiones de nuestros clientes.</li>
                <li>Relevamiento de procesos para mejorar la gesti&oacute;n, porponiendo mejoras en la eficiencia y control de los procesos de nuestros clientes.</li>
                <li>Legajo en línea&nbsp;(acceso seguro), con información de nuestra gesti&oacute;n.</li>
                <li>An&aacute;lisis de proyectos de inversi&oacute;n.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <a id="scrollTop"><i class="icon-chevron-up1"></i><i class="icon-chevron-up1"></i></a>
    <script src="js/jquery.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/functions.js"></script>
</body>
</html>
