/*

1. Add your custom Css styles below
2. Place the this code in your template:

 <link href="css/custom.css" rel="stylesheet">

*/


.tabs.tabs-folder .nav-tabs .nav-link {
  background-color: #eee;
}

.tabs.tabs-folder .nav-tabs .nav-link.active {
	background-color: #fff;
}

/*.modal-body{
    max-height: 600px;
    overflow-y: auto;
}*/

.modal-dialog {
    overflow-y: initial !important
}

.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}
